<ion-header>
    <ion-navbar>
        <ion-title>Books</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let book of books; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(book)">
                <h2>{{book.title}}</h2>
                <p>{{book.genre}}</p>
                <p>{{book.language}}</p>
                <p>{{book.year}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, book)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(book)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!books?.length">
        No Books found.
    </ion-item>
</ion-content>
